.card {
    min-width: 200px;
    background-color: #c6d8ff;
    min-height: 400px;
    height: auto;
    border: none;
    text-align: left;
    margin: 30px;
    font-size: calc(8px + 1vmin);
}

.card-title {
    font-size: calc(1rem + 0.5vmin);
}

.secondary-text {
    color:grey;
    font-size: calc(8px + 0.5vmin);
    margin:0;
}